/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: 'Cascadia Mono', monospace;
}

.content_title ::before{
  font-weight: 800;
  display: block;
  font-size: 1rem;
  margin-bottom: 10vh;
  text-align: center;
}